@import "../node_modules/bulma/bulma.sass";

.blink {
  background-color: green;
  transition: background-color 0.5s;
}

label.checkbox {
  user-select: none;
}

header,
section.container {
  padding: 20px;
}
